[Unit]
Description=Docker localDNS
After=network-online.target
 
[Service]
Type=simple
 
ExecStart=/usr/bin/docker-localdns
Restart=always

[Install]
WantedBy=multi-user.target